{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'password.js' %}" defer></script>
{% endblock scripts %}

{% block content %}

<div class = "text-center mt-3">
    <form>
        <label for="user-element">Введите имя пользователя</label>
        <input type="text" id="user-element">
        <label for="password-element">Введите пароль</label>
        <input type="text" id="password-element">
      </form>
    </div>
    <div class = "text-center mt-3">
        <button class="btn btn-primary" id="cpt-btn">Войти</button>
    </div>

{% endblock content %}

