{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'vid.js' %}" defer></script>
{% endblock scripts %}

{% block content %}

    <div class = "text-center">
        <video autoplay="true" id="video-element"></video>
    </div>

    <div class = "text-center mt-3" id="img-element"></div>

    <div class = "text-center mt-3">
        <button class="btn btn-primary" id="cpt-btn">Take photo</button>
        <button class="btn btn-info" id="rld-btn">Reload</button>
    </div>

{% endblock content %}

