{% extends 'base.html' %}

{% block content %}
<div class = "text-center mt-3">
    {% if curVisitor is not None %}
    <div class = "text-center mt-3">
        Сейчас на приеме: {{curVisitor.user.first_name}}  {{curVisitor.user.last_name}}
    </div>
    {% endif %}
    <div class = "mt-3">Очередь</div>
    <ol>
        {% for v in visitors %}
         <li>{{ v.user.first_name}} {{v.user.last_name}}</li>
         
        {% endfor %}
       </ol>
    </div>
    <br><br>
    <div class = "text-center mt-3">
    <a href={% url 'login-student' %} class = "btn btn-primary">Встать в очередь</a>
    <a href={% url 'sign-up' %} class = "btn btn-danger">Зарегистрироваться</a>
    </div>
    <div class = "text-center mt-3">
        <a href={% url 'login-password' %} class = "btn btn-primary">Войти как преподаватель</a>
        </div>
{% endblock content %}